*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

header{
    background-color: #DAA520;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{

}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.logo{
    height: 40px;
    width: 40px;
}

.logo-img{
    align-items: center;
}


.link-nav{
    list-style: none;
    
        
}

.link-nav > li{
    display: inline;
}


.debug{
    border: 1px solid black;
}

.first-section{
    height: 450px;
    background-color: #03008B;
    display: flex;
}
.rettangolo-rosa{
    height: 80%;
    width: 60%;
    background-color: #EE82EE;
    margin: auto;


}