*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

header{
    background-color: #3061E0;
    height: 80px;
}

main{
    background-color: #3061E0;
    color: white;
}

.conteiner{
    margin: 0 auto;
    max-width: 1200px;
}

.debug{
    border: 1px solid black;
}

.logo{
    height: 40px;
    width: 40px;
    background-color: red;
    display: flex;
    
    
}



.logo-img{
    align-items: center;

}

.top-header{
    display: flex;   
    justify-content: center;
    align-items: center;
}

.link-nav{
    display: flex;
    
}


.top-main p{
    font-size: 1.2rem;
}

.section-one{
    background-color: white;
    color: black;
}